html
  head
    title='Home'
    style  
        include style.css 
  body
  h1="Welcome"
  nav 
    a(href="/profile")="Profile settings"
    a(href="/chat")="Chat"
    a(href="/logout")="Logout"

    form(method="POST") 
        textarea#post-area(name="post", cols="30", rows="10") 
        button(type="submit")="Submit your post"
    -
    
      
    div#posts-list
      each item in posts
        li= item
  
      script 
        include post.js 