html
  head
    title='Update profile'
    style  
      include style.css 
  body
  nav
    a(href="/")="Posts" 
    a(href="/profile")="Profile settings"
    a(href="/chat")="Chat"
    a(href="/logout")="Logout"

  div#form-profile
    img(src="images/" + path)
    form(action="/profile", method="POST")
      input(type="text", name="name", placeholder=name) 
      input(type="text", name="email", placeholder=email)
      button(type="submit")="Update email/name"

  form#avatar-upload(action="/avatar", method="POST", enctype="multipart/form-data")
    input#my-files(type="file", name="image", accept="image/*") 
    button(type="submit")="Upload/Update avatar"

  form#delete-profile(action="/delete", method="POST") 
    button(type="submit")="Delete Profile"